<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>802628697741-0rskeic6smk05vfriac7o3bkd34g8tuh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.802628697741-0rskeic6smk05vfriac7o3bkd34g8tuh</string>
	<key>API_KEY</key>
	<string>AIzaSyB0w8HBOpiFYrYvJ6dB6z_oxl4mmehXr-s</string>
	<key>GCM_SENDER_ID</key>
	<string>802628697741</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.BlankStudio.Venta-App</string>
	<key>PROJECT_ID</key>
	<string>ventacustomeraccount</string>
	<key>STORAGE_BUCKET</key>
	<string>ventacustomeraccount.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:802628697741:ios:7f571a635ac6878f1f2cc4</string>
</dict>
</plist>